*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3c3c3c;
}

#calculator-layout {
    width: 26rem;
    height: 15rem;
    background-color: #b5b5b5;
    border: solid 1px;
    border-radius: 1rem;
    padding: 1rem;
}

#result-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 1.3rem;
}

#result-painel{
    width: 19rem;
    height: 2rem;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #fff;
    /* box-shadow: 4px 3px 5px 5px rgba(0, 0, 0, 0.3); */
    border: inset 0.2rem rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

#result-text{
    font-size: 1.2rem;
}

#result-clear{
    width: 5rem;
    height: 2rem;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    border: solid 1px rgba(0, 0, 0, 0.8);
    box-shadow: 3px 5px 0 rgba(0, 0, 0, 0.5);
}

#number-area{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.number, .operator{
    margin-left: 2px;
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    border: solid 0.5px rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    box-shadow:  3px 5px 0 rgba(0, 0, 0, 0.7);
}

#result{
    background-color: rgba(0, 0, 255, 0.4);
}